.display-wrapper {
    max-width: 80%;
    /*background: rgba(0, 255, 0, 0.1); for visual debugging*/
    width: 100%;
    margin-top: clamp(40px, 6vh, 150px); /* responsive top spacing */

  }
  
  .display-box {
    min-height: 200px;
    position: relative;
    text-align: center;
  }
  
  i{
    font-size: 1.5rem;
    margin-right: 0.5rem;
    color: green;
  }
  .bi-image {
    font-size: 20rem; /* Or use 50% of parent width if needed */
    display: block;
    margin : 0 auto;
    color: #ccc;
  }
  .display-box .bi-image {
  font-size: clamp(5rem, 50%, 20vw); /* grows with viewport but capped */
  display: block;
  margin: 0 auto;
  color: #ccc;
}
.btn-primary{
  width:50%
}