.upload-wrapper {
    max-width: 80%;
    /*background: rgba(0, 255, 0, 0.1); for visual debugging*/
    width: 100%;
    margin-top: clamp(40px, 6vh, 150px); /* responsive top spacing */

  }
  
  .upload-box {
    min-height: 180px;
  }
  
  .upload-button {
    width: 100px;
    height: 50px;
    background-color: white;
  }
  .steps {
    font-weight: bold;
    margin-bottom: 1.5rem;
    border-bottom-color: darkgreen;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  border-bottom-color: #ccc;
  }
  i{
    font-size: 1.5rem;
    margin-right: 0.5rem;
    color: green;
  }
 
